<div data-ng-controller="LogReaderController" data-ng-init="getLogs()">
<div class="row">
		<div class="col-md-3">
				<!--<div class="hidden-xs hidden-sm" style="height:120px; width:100%"></div>-->
				<div data-spy="affix" data-offset-top="200" class="opt-menu" role="complementary" ng-affix>
						<div class="opt-menu-list-item opt-menu-title">Log Oprator</div>
						<div class="opt-menu-list-item dropdown"> <a class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
								<ul class="dropdown-menu">
										<li><a href="#" >Level 1</a></li>
										<li><a href="#">Level 2</a></li>
										<li><a href="#">Level 3</a></li>
										<li class="divider"></li>
										<li><a href="#">Level 4</a></li>
										<li class="divider"></li>
										<li><a href="#">Level 5</a></li>
								</ul>
						</div>
						<div class="opt-menu-list-item">
								<div class="input-group">
										<input type="text" class="form-control" value="Search">
										<span class="input-group-btn">
										<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
										</span> </div>
						</div>
						<div class="opt-menu-list-item">
								<div class="input-group">
										<input type="text" class="form-control" value="Start Date">
										<span class="input-group-btn">
										<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-calendar"></span></button>
										</span> </div>
						</div>
						<div class="opt-menu-list-item">
								<div class="input-group">
										<input type="text" class="form-control" value="End Date">
										<span class="input-group-btn">
										<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-calendar"></span></button>
										<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-filter"></span></button>
										</span> </div>
						</div>
						<div class="opt-menu-list-item">Back to Top</div>
				</div>
		</div>
		<div class="col-md-9" role="main">
				<table border="0" cellspacing="0" cellpadding="0" class="table table-responsive table-condensed table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Level</th>
                        <th>Timestamp</th>
                        <th>Host</th>
                        <th>Message</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="log in logs" class="repeat-animation">
                        <td ng-bind="log.level">N/A</td>
                        <td ng-bind="log.timestamp">N/A</td>
                        <td ng-bind="log.host.name">N/A</td>
                        <td ng-bind="log.message">N/A</td>
                    </tr>
                    </tbody>
				</table>
		</div>
		</div>
</div>
</div>